html {
  overflow-x: hidden;
  margin-right: calc(-1 * (100vw - 100%));
}

*{
  font-family: "Noto Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}

body{
    background-color: rgb(245, 238, 232);
    color: rgb(0, 0, 0);
    font-size: 14pt;
}

h1{
    font-size: 30pt;
    text-align: center;
    text-transform: uppercase;
    font-weight: 300;
    letter-spacing: 3px;
    color: rgb(0, 0, 0);
}

h2{
    font-size: 24pt;
    text-align: center;
    text-transform: uppercase;
    font-weight: 300;
    display: inline;
}

h3{
    font-size: 18pt;
    display: inline;
}

h4{
    font-weight: 400;
    display: inline;
}

div{
    background-color: rgb(255, 255, 255);
    padding: 20px;
    padding-top: 20px;
    margin: auto;
    width: 60%;
    align-self: center;
}

.content{
  background-color: rgb(255, 255, 255);
  padding: 20px;
  padding-top: 20px;
  margin: auto;
  width: 100%;
  align-self: center;
}

#menubar{
    background-color: transparent;
    border: none;
    padding: 0px;
    text-align: center;
    width: 100%;
}

.menubutton{
    background-color: rgb(248, 185, 48);
    border: none;
    color: rgb(0, 0, 0);
    padding: 8px;
    width: 10%;
    letter-spacing: 2pt;
    text-align: center;
    text-decoration: none;
    font-size: 12pt;
    text-transform: uppercase;
    cursor: pointer;
    float: center;
    transition-duration: 0.1s;
  }

.menubutton:hover{
    background-color: rgb(248, 206, 114);
    border: none;
    color: black; 
    text-align: center;
    text-decoration: none;
    display: inline-block;
    cursor: pointer;
  }

.menubutton:active{
    background-color: rgb(165, 113, 0);
    border: none;
    color: rgb(255, 255, 255);
    text-align: center;
    text-decoration: none;
    display: inline-block;
    cursor: pointer;
  }

a:link{
    color:blue;
    font-style:normal;
    text-decoration: none;
}

a:visited{
    color:rgb(122, 16, 82);
    font-style:normal;
    text-decoration: none;
}

a:hover{
    font-style:normal;
    text-decoration: none;
}

a:active{
    color:black;
    font-style:normal;
    text-decoration: none;
}

footer{
    padding: 20px;
    margin: auto;
    width: 20%;
    text-align: center;
}

.column{
  margin: none;
  padding: 0px;
  float: left;
  width: 25%;
}

.row:after{
  padding: 0px;
  content: "";
  display: table;
  clear: both;
}

.flex-container{
  display:flex;
  width: 60%;
  flex-direction: row;
  justify-content: flex-start;
  align-items: left;
}

.flex-text{
  display: flex;
  width: 100%;
  background-color: transparent;
  padding: 20px;
}

.flex-img{
  display: flex;
  justify-content: flex-start;
  align-self: left;
}

.portfolio-list{
  display: flex;
  width: 100%;
  flex-direction: column;
  justify-content: flex-start;
  align-items: left;
}

.portfolio-item{
  display: flex;
  width: 100%;
  background-color: transparent;
  justify-content: flex-start;
  align-items:left;
}

.portfolio-itemdesc{
  display: flex;
  flex-grow: 5;
}

div.gallery{
  padding: 10px;
}
  
div.gallery:hover {
    background-color: antiquewhite;
    cursor: pointer;
  }
  
div.gallery img {
    width: 100%;
    height: auto;
  }
  
div.desc {
    padding: 0px;
    text-align: center;
    background-color: transparent;
  }
  
* {
    box-sizing: border-box;
  }
  
.responsive {
    padding: 0px;
    float: left;
    width: 25%;
  }
  
@media only screen and (max-width: 700px) {
    .responsive {
      width: 100%;
      margin: 0px;
    }
  }
  
@media only screen and (max-width: 500px) {
    .responsive {
      width: 100%;
    }
  }

.overlay {
    position: fixed; /* Sit on top of the page content */
    display: none; /* Hidden by default */
    width: 100%; /* Full width (cover the whole page) */
    height: 100%; /* Full height (cover the whole page) */
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0,0,0,0.75); /* Black background with opacity */
    overflow-y: scroll;
    z-index: 2; /* Specify a stack order in case you're using a different order for other elements */
    cursor: pointer; /* Add a pointer on hover */
    color:white;
    text-align: center;
    overscroll-behavior: contain;
  }

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    height: 100%;
}

hr{
  margin-left: 0;
  margin-right: 0;
}
